@import "ember-power-select";

html {
  --contrast-light-bg: #f9fafe;
  --contrast-dark-bg: #e9f0f8;
  --input-border: #ebebeb;
  --theme-color: #0e74d5;
  --theme-color-light: #baddfc;
  --theme-error: #c60a0a;
  --theme-white: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  button {
    padding: 10px;
    margin: 13px;
    width: 94%;
    display: block;
    font-size: 1em;
    transition: 0.1s ease;

    &.select-flight, &.search-flight{
      border: none;
      background: var(--theme-color);
      color: var(--theme-white);

      &--checkout {
        margin: 20px;
        width: 160px;
      }

      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }

      &:disabled {
        background: var(--theme-color-light);
        cursor: not-allowed;
        &:hover {
          box-shadow: none;
        }
      }

      &:focus {
        outline: none;
      }

      &.error {
        border: none;
        cursor: inherit;
        background: var(--theme-error);
      }
    }

  }

  .filter-wrapper {
    background: var(--contrast-light-bg);
    flex-basis: 400px;

    .flight-type-selector {
      clear: both;
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid var(--input-border);
      margin: 10px 10px 0 10px;
    }

    input.flight-count {
      display: none;

      & + label {
        cursor: pointer;
        float: left;
        border: 2px solid var(--input-border);
        border-bottom: 0;
        background-color: var(--theme-white);
        margin-right: -1px;
        padding: 14px;

        &:hover {
          background-color: var(--contrast-dark-bg);
        }
      }

      &:checked + label {
        background-color: var(--theme-color);
        border-bottom: none;
        color: var(--theme-white);
        z-index: 1;
        transition: 0.2s ease;
        padding: 14px;
      }
    }

    span.form-icons {
      padding-right: 10px;
      color: var(--theme-color);
    }

    .ember-power-select-trigger {
      border-radius: 0;
      padding: 10px;
      border: 2px solid var(--input-border);
      margin: 12px;

      &:focus {
        outline: none;
      }
    }

    .ember-power-select-placeholder {
      color: black;
    }

    .date-picker-container {
      border-radius: 0;
      padding: 10px 10px 0 18px;
      border: 2px solid var(--input-border);
      margin: 012px;
      background: var(--theme-white);
    }
  }

  .result-wrapper {
    background: var(--contrast-dark-bg);
    flex: 1;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 5em;
      text-shadow: 3px 3px 0px #bebafc, 5px 5px 15px var(--theme-color);
      color: white;
    }

    h3 {
      text-align: center;
      color: var(--theme-color);
    }
    
    .form-icons {
      margin: auto;
      padding-bottom: 1em;
       font-size: 6em;
       stroke: var(--theme-color);
    stroke-width: 20px;
    fill-opacity: 0;
    }

    .flight-card {
      display: flex;
      background: white;
      margin: 20px 20px 0;
      padding: 15px;
      min-height: 48px;

      &--success-message {
        background: #8BC34A;
        color: white;
        font-size: 1.2em;
      }

      &--justify {
        justify-content: space-between;
      }

      &__checkout {
        background: var(--theme-color);
        color: var(--theme-white);
      }

      &__placeholder-img {
        width: 100px;
      }

      &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;

        &--totalPrice {
          font-size: 1.5em;
        }

        svg {
          color: var(--theme-color-light);
        }

        &--title {
          font-size: 1.6em;
          color: var(--theme-color);
          font-weight: 300;
        }

        &--right {
          margin-left: auto;
        }

        &--button {
          padding: 10px;
          margin: 13px;
          display: block;
          font-size: 1em;
          min-width: 100px;
          transition: 0.5s ease;
          &:hover span {display:none}
          &:hover:before {content:"SELECT"}
        }

        & > span, & > div {
          line-height: 1.5em;
        }
      }
    }
  }
}

.ember-power-select-dropdown {
  border: 2px solid var(--input-border);
}

.date-picker {
  box-shadow: none;
  border-radius: 0;
  border: 2px solid var(--input-border);
  &__button {
    border-radius: 0;
    padding: 10px;
    border: 2px solid var(--input-border);
    margin: 0 12px 12px;
    font-size: 1em;
  }
  &__day--selected {
    background-color: var(--theme-color);
  }

  &__day:hover {
    background: var(--theme-color);
  }

  &:focus {
    outline: none;
    background: var(--contrast-dark-bg);
  }
}

.ember-power-select-option[aria-current="true"] {
  background-color: var(--theme-color);
}
